<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <main class="profile-container">
        <div class="profile-card">
            <img src="https://res.cloudinary.com/alexandracaulea/image/upload/v1582179610/user_fckc9f.jpg"
                alt="User image" class="card__image" />
            <div class="card__text">
                <h2>Alexandra Caulea</h2>
                <p>I enjoy drinking a cup of coffee every day</p>
            </div>
            <ul class="card__info">
                <li>
                    <span class="card__info__stats">172</span>
                    <span>posts</span>
                </li>
                <li>
                    <span class="card__info__stats">47</span>
                    <span>followers</span>
                </li>
                <li>
                    <span class="card__info__stats">20</span>
                    <span>following</span>
                </li>
            </ul>
            <div class="card__action">
                <button class="card__action__button card__action--message">Logout</button>
                <button class="card__action__button card__action--follow">Setting</button>
            </div>
        </div>
    </main>
    <div class="container" style="margin: 30px;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1519068737630-e5db30e12e42?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c291cmNlfGVufDB8fDB8fHww"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
    </div>

</body>

</html>